/* MAP */
table.report_card td,
table.report_card th {
  padding: 0 3px;
}
table.report_card .na {
  color: #999;
}
table.report_card tbody th {
  font-weight: normal;
  text-align: left;
}
table.report_card tbody td {
  text-align: center;
}
table.report_card tbody tr:nth-child(odd) {
  background-color: #ddd;
}
.grade_graph {
  border-top: 1px solid #aaa;
  margin: 15px 0;
  padding: 15px 0;
}
.grade_graph aside {
  float: right;
  width: 260px;
}
.grade_graph > div {
  width: 400px;
}
.grade_graph h2 {
  margin: 0 0 15px 0;
}
.graph_note {
  color: #666;
  width: 400px;
}
aside.about_state {
  float: right;
  width: 260px;
}
aside.about_state h2 {
  margin: 0 0 15px 0;
}
.source {
  color: #999;
  font-style: italic;
}
.category_report aside {
  float: right;
  width: 250px;
}
.category_report h2 {
  margin: 0 0 15px 0;
}
.printed_reports {
  padding-left: 10px;
}
.printed_reports h4 {
  margin: 10px 0 0 0;
}
.printed_reports h4:first-of-type {
  margin: 0;
}
.printed_reports > ul {
  margin: 0;
  padding: 0;
}
.printed_reports > ul > li {
  list-style-type: none;
}
.printed_reports > ul ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.printed_reports > ul ul li {
  display: inline;
}
ul.misc_links {
  margin-top: 20px;
}
.glossary dt {
  font-size: 120%;
  font-weight: bold;
}
.glossary dd {
  margin-bottom: 15px;
}
#downloads_screenshots {
  margin: 15px 0;
  text-align: center;
}
#downloads_screenshots a {
  display: inline-block;
  padding: 0 15px;
  text-decoration: none;
}
#downloads_screenshots img {
  border: 1px solid #aaa;
}
#downloads_screenshots a:hover img {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
#downloads_screenshots a:hover span {
  text-decoration: underline;
}
/* MAP */
#map_us {
  height: 283px;
  width: 450px;
}
#map_us_wrapper {
  height: 283px;
  position: relative;
  width: 450px;
}
path.state {
  cursor: pointer;
  fill: #d3d3d3;
  stroke: #000;
  stroke-opacity: 1;
  stroke-width: 0.75;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  fill-opacity: 1;
}
.ui-tooltip-content:hover {
  display: none;
}
#legend_grades {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
#legend_grades li {
  border: 1px solid #556666;
  color: #fff;
  font-weight: bold;
  list-style-type: none;
  margin: 2px;
  padding: 0;
  text-align: center;
  width: 40px;
}
table.grades {
  margin: auto;
}
table.grades thead {
  font-size: 120%;
}
table.grades thead th {
  border-bottom: 1px solid #000000;
}
table.grades tbody th {
  border-right: 1px solid #000000;
  text-align: left;
}
table.grades tbody td {
  text-align: center;
}
table.grades tbody td,
table.grades tbody th {
  border-bottom: 1px solid #999;
  padding: 0 2px;
}
#report_view_controls a {
  color: #000;
  margin-right: 15px;
  text-decoration: none;
}
#report_view_controls a:hover span {
  text-decoration: underline;
}
#report_view_controls a.selected span {
  text-decoration: underline;
}
